<div class="home-container">
  <h1>Fitwalking Ruffano</h1>
  <p>Benvenuti nel gruppo di camminata di Ruffano!</p>
  
  <div class="schedule">
    <h2>📅 I nostri appuntamenti</h2>
    <ul>
      <li><strong>Lunedì</strong> - Camminata serale 19:30</li>
      <li><strong>Mercoledì</strong> - Camminata serale 19:30</li>
      <li><strong>Venerdì</strong> - Camminata serale 19:30</li>
      <li><strong>Domenica</strong> - Eventi speciali</li>
    </ul>
  </div>
  <p class="location">📍Via dei Falchi,10 (Statua Padre Pio) Ruffano, Provincia di Lecce</p>
</div>
